


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&display=swap');

html{text-transform: none;}
h2{ 
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: 100;
    text-align:left;
}

    h3{
    color: brown;
}
#bioHeader{
    color: blue;
    font-family:'Oxygen', sans-serif;
     
};
    }
#skillsHeader{color: chocolate;
     font-family: 'Oxygen', sans-serif;
     
        }
.content{ 
    color: darkgreen;
    font-size: 12px;
    text-transform: none;
    line-height: normal;
    font-weight: lighter;
    font-family: 'Oxygen', sans-serif;
}
.bold{
    font-weight: bold;
}
p{ 
    color: rgb(89, 25, 190); font-size:12px;
    font-family: 'arial', Times, serif;
text-align:left;
text-transform:normal;
list-style: height 14px;
}
.img-div{
background-color: rgb(66, 134, 156);
position: relative;
}
.light-img-div{
    background-color: lightgray;
}
#img-1{
    position: absolute;
    top: 15px;
    left: 10px;
} 
 img{
     width: 14.4%;
     box-shadow: 3px 3px 10px black;
     margin: 1%;
 }  
