body {
    background-color: #f0f0f0;
}

.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    display: inline-block;
}

.login-div input {
    display: block;
    margin-bottom: 7px red;
    color: rgb(175, 70, 22);
}

.login-div input:focus {
    display: block;
    margin: 12px  rgb(28, 4, 245) ;
    box-shadow: 10px rgb(255, 0, 0);
}

.submit-btn {
    margin-top: 7px;
    margin-bottom: 7px rgb(212, 20, 20);
    color: green;
    box-shadow: 17px  violet;
} 

ul li:first-child {
    text-decoration: underline;
    color: red;
}

ul li:last-child {
    text-decoration: underline
}

ul li:nth-child(3) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: orange;
}
