
html {
    background-color: lightseagreen;
    border-left: maroon solid 180px;
    border-right: maroon solid 180px;
    width: 75%;
    height: 100%;
}

body{
    background-color:rgba(140, 140, 140, 0.5);
    border-left: hotpink 50px solid;
}
/* *background-color:yellow;
  border-radius: 30px;
    border-style:dotted 5px navy;
    margin: red 50px;
    color: green;
}
div {
background-color: rgba(200, 100, 80, 0.4);
margin: 50px  25px 40px 35px;
border-radius: 10px;
width: 550px;
height: 120px;
border-style: solid;
border-color: blue;
border-width:  20px;
padding: 50px 50px 25px 25px;
padding: yellow;
overflow: scroll;
} */
p { 
    margin: 30px;
    border-radius: 10px;
    border: 1px solid black;
    outline: hidden;
   /* outline: 2px solid red;
    outline-offset: 15px; */
    padding-left: 10px;
    background-color: lightgreen;
    width: 250px;
}
 div.elso{
  border-radius:12px;
  border-left: solid 50px red;
  border-right: solid 20px red;
  margin: grey 30px;
  background-color: white;
  padding:30px;
  width: 290px;
  height:100px; 
  overflow-x: scroll;
  margin: greenyellow  5px;;
}  
div.container  {
    border-radius:25px;
    border: magenta solid 10px; 
    margin:20px 50px 4px 12px;
    background-color:rgb(161, 219, 161);
    width:  250px;
    height: 100px;
    overflow: scroll;
}

.contaier.div { background-color:white;
border-color: blue 20 dotted;
box-sizing:100px 200px;
border-left: 200px;
padding-left:width 200px;
overflow: scroll;
}
/*
outline-style: solid;
outline-width: 10px;
outline-offset: 0vmax;
outline-color: brown;
padding: 50px;
} */ 
.div +p {
 background: beige;

}