/* html{
    background-color:rgba(134, 145, 126, 0.171) ;
}*/
h4 {
    text-align: center;
    padding-left: 20px;
    margin: 40px, 20px, 120px, 20px;
}

div.clearfix {
  border: 3px solid #e9ded0;
  border-radius: 20px;
  width: 80%;
  background-color:rgba(238, 139, 10, 0.171) ;
  box-shadow: 0 4px 8px 0 rgba(238, 139, 10, 0.2), 20px 6px 20px 0 rgba(0, 159, 10, 0.39);
  text-align: center;
  padding: 5px;
  margin: 30px 100px;
}
.img2{
    width: 150;
    height: 120;
    float: right;

}

.clearfix {
  overflow: auto;
}
