h3 {
    text-align: center;
    caption-side: top;
}
table {
   text-align: center; 
   background-color:rgba(238, 139, 10, 0.171) ;
   border: solid 3px mediumorchid;
   margin: 20px 20px 20px 25px;
   height:25%;
   scrollbar-darkshadow-color: mediumseagreen;
   
}
table.thead {
    text-decoration: none;
}
.emojis {
    font-style: 64px;
}